body {
  font-family: "Raleway", sans-serif;
  background-color: #f9f9f9;
  word-spacing: 0.2em;
}
.container {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5em;
  color: #566b78;
}

footer {
  height: 200px;
  margin: 0 auto;
  max-width: 50em;
}

footer p {
  padding: 25% 0 0 0;
}

a {
  position: relative;
  color: #e81c4f;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

li {
  padding: 10px;
  padding-right: 25px;
}

li a {
  text-decoration: none;
  color: #494949;
}

li:hover {
  background-color: #e8e8e8;
}

.post {
  border-bottom: 1px solid #2c2c2c85;
  padding-top: 20px;
}

.post-title a {
  font-weight: lighter;
}

.pagination {
  padding: 10px 0px;
}

.pagination .next {
  float: right;
}