<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>{% block title %}{{config.title}}{% endblock title %}</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
</head>

<body>
	<nav>
		<ul>
			{% for link in config.extra.nav %}
			<li> <a target="_blank" href="{{link.url}}">{{link.name}}</a> </li>
			{% endfor %}
		</ul>
	</nav>
	<div class="container">
		{% block content %}
		<div class="posts">
			{% for post in paginator.pages %}
			<div class="post">
				<h2 class="post-title">
					<a href="{{post.permalink}}">
						{{ post.title }}
					</a>
				</h2>
				<p>{{ post.summary | safe }}</p>
				<!-- <hr /> -->
			</div>
			{% endfor %}
		</div>
		<nav class="pagination">
			{% if paginator.previous %}
				<a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
			{% endif %}
			{% if paginator.next %}
				<a class="next" href="{{ paginator.next }}">Next ›</a>
			{% endif %}
		</nav>
		{% endblock content %}
	</div>
	<footer>
		<p>Created by @Sparkenstein</p>
	</footer>
</body>

</html>