<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>{% block title %}{{config.title}}{% endblock title %}</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
</head>

<body>
	<nav>
		<ul>
			{% for link in config.extra.nav %}
			<li> <a target="_blank" href="{{link.url}}">{{link.name}}</a> </li>
			{% endfor %}
		</ul>
	</nav>
	<div class="container">
		{% block content %}
		<div class="posts">
			{% for post in section.pages %}
			<h2 class="post-title">
				<a href="{{post.permalink}}">
					{{ post.title }}
				</a>
			</h2>
			<p>{{ post.description }}</p>
			<hr />
			{% endfor %}
		</div>
		{% endblock content %}
	</div>
</body>

</html>